[user]
    name = Katsuhiro OGAWA
    email = ko.fivestar@gmail.com
[github]
    user = fivestar
[color]
    ui = auto
[core]
    excludesfile = /home/fivestar/.gitignore
    editor = /usr/bin/vim
[alias]
    co = checkout
    st = status
    ci = commit -v
    di = diff
    ds = diff --staged
    br = branch
    up = pull --rebase
    graph = log --pretty=format:\"%C(yellow)%h%Creset %C(magenta)%ad%Creset | %s%Cred%d%Creset [%Cgreen%an%Creset]\" --graph --date=short
    ranking = shortlog -s -n --no-merges
