"*":
  "atom-alignment": {}
  "atom-autocomplete-php": {}
  "atom-beautify":
    general:
      _analyticsUserId: "b3bb3584-e565-4e6f-8ae7-6fbda902c106"
    php:
      cs_fixer_path: "/Users/fivestar/bin/php-cs-fixer"
      level: "psr2"
    twig:
      indent_size: 2
  "atom-ide-ui":
    "atom-ide-code-format": {}
  "autocomplete-php": {}
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-toml"
      "language-property-list"
      "atom-beautify"
    ]
    projectHome: "/Users/fivestar/repos"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
    warnOnLargeFileLimit: 1
  docblockr:
    param_description: false
    return_description: false
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "44ff82b5-bac1-28e3-d6eb-a6393d9edb9f"
  "file-icons": {}
  "file-types":
    "\\.html+(phone|pc|tablet)\\.twig": "html.twig"
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "php-cs-fixer":
    executablePath: "/usr/local/bin/php-cs-fixer"
    executeOnSave: true
  "tree-view": {}
  "vim-mode": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".babel.regexp.source":
  editor:
    tabLength: 4
".basic.html.text":
  editor:
    tabLength: 2
".css.source":
  editor:
    tabLength: 2
".css.source.twig":
  editor:
    tabLength: 2
".html.text.twig":
  editor:
    tabLength: 2
".js.source":
  editor:
    tabLength: 2
".js.source.twig":
  editor:
    tabLength: 2
".sass.source":
  editor:
    tabLength: 2
".source.twig.yaml":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
".text.twig.xml":
  editor:
    tabLength: 2
".text.xml.xsl":
  editor:
    tabLength: 2
